More log samples of this issue have been uploaded on {{version}} release. 

Check links below to reach the log samples:
{% for dropbox_id in dropbox_ids %}[{{loop.index}}|{{url}}{{dropbox_id}}] {% endfor %}